<div class="clear">
	<%= image_tag "seta_white_up.gif", :class=>"seta_up"%>
	Ja possui cadastro? Efetue o login abaixo
	<%= form_tag :controller=>"sessions",:action=>"create" do %>
	<p class="clear highlighter">
		<%= label :usuario,"Login ou Email", :class=>"title"%>
		<%= text_field :usuario, :login, :class => "span-4"%>
	</p>
	<p class="clear highlighter">
		<%= label :usuario,"Senha", :class=>"title"%>
		<%= password_field :usuario, :senha, :class => "span-4"%>
	</p>
	<div class="clear">
		<%= button_for("Entrar", :button_type => "submit",:class=>"button green large") %>
	</div>
	<div id="fb-root"></div>

	<fb:login-button length="long" onlogin="location.href = '/sessions/fb'" perms="<%= fb_config[:perms] %>">Login com Facebook</fb:login-button>
	<% end %>

</div>
<script>
$(document).ready(function(){
	FB.init({
		appId  : '<%= fb_config[:app_id] %>',
		status : true, // check login status
		cookie : true, // enable cookies to allow the server to access the session
		xfbml  : true  // parse XFBML
	});
});
</script>