<div class="clear">
<%= form_tag sessions_path do %>
  <p class="clear highlighter">
	<%= label :usuario,"Login/Email", :class=>"title"%>
	<%= text_field :usuario, :login, :class => "span-4"%>
  </p>
  <p class="clear highlighter">
	<%= label :usuario,"Senha", :class=>"title"%>
	<%= password_field :usuario, :senha, :class => "span-4"%>
  </p>
	<div class="clear">
	<%= button_for("Entrar", :button_type => "submit") %>
	</div>
<% end %>
</div>