<div>
  <div class="right relative">
    <%if  usuario_logged.nil?%>
	  <%= link_to "Cadastre-se", new_usuario_path, :class => ("button verde")%>
      <%= link_to "Login", new_session_path, :remote => true, :class => ("button p")%>
      <div id="loginForm" class="absolute"></div>
    <%else%>
      <%=usuario_logged.nome%> | <%= link_to "Logout", new_session_path, :method => :delete, :class => "vermelho button p"%>
    <%end%>
  </div>
	<%=image_tag("logo_white.png")%>
</div>

