<%= form_for(@usuario) do |f| %>
<% if @usuario.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
	<ul>
		<% @usuario.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="column span-9">
	<p class="highlighter">
		<%= f.label :nome,:class=>"title"%>
		<%= f.text_field :nome %>
	</p>
	<p class="highlighter">
		<%= f.label :email,:class=>"title" %>
		<%= f.text_field :email %>
	</p>
	<p class="highlighter">
		<%= f.label :login,:class=>"title" %>
		<%= f.text_field :login %>
	</p>
	<p class="highlighter">
		<%= f.label :senha,:class=>"title" %>
		<%= f.password_field :senha %>
	</p>
</div>
<div class="column span-9 last">
<p>
	<%= f.label :nascimento,:class=>"title" %>
	<%= f.date_select :nascimento %>
</p>
<p class="highlighter" >
	<%=f.label :sexo,:class=>"title"%>
	<%= f.radio_button :sexo,true %> <%= label_tag(:sexo, "Masculino",:class=>"inline") %>
	<%= f.radio_button :sexo,false %> <%= label_tag(:sexo, "Feminino",:class=>"inline") %>
</p>

<p class="highlighter">
	<%=f.label :perfil,:class=>"title"%>
	<%= f.select(:perfil_id, Perfil.find(:all).collect {|p| [ p.nome, p.id ] },{ :include_blank => true })%>
</p>
</div>
<div class="actions">
	<%= f.submit "Cadastrar", :class => "button"%>
</div>
<% end %>

