<h1>
	<%="Atualize suas Informações" unless usuario_logged?%>
	<%="Cadastre-se" unless not usuario_logged?%>
</h1>
<h3>
	<%="Mantenha seu cadastro atualizado" unless usuario_logged?%>
	<%="Fa" unless not usuario_logged?%>
</h3>
<%= render 'form' %>

<%= link_to 'Show', @usuario %> |
<%= link_to 'Back', usuarios_path %>
