<div class="span-10 column">
  <h1>Minhas Refeições</h1>
  <h3>Acompanhe aqui as suas refeições realizadas, e saiba como anda a sua alimentação</h3>
  <div class="refeicaoListBox">
    <%refeicoes=refeicoes(usuario_logged)%>
    <%unless refeicoes.nil? || refeicoes.size <= 0%>
    <%refeicoes_dias = refeicoes_dias(refeicoes)%>
    <%comps_refeicoes = componentes_refeicoes(refeicoes_dias[@data.strftime("%d/%m/%y")])%>
    <%unless refeicoes_dias.nil? || @data.nil? || refeicoes_dias[@data.strftime("%d/%m/%y")].nil?%>
    <%refeicoes_dias[@data.strftime("%d/%m/%y")].each do |rf|%>
    <%=render :partial=>"/refeicaos/refeicao",:locals=>{:refeicao=>rf}%>
    <%end%>
    <%end%>
    <%if refeicoes_dias[@data.strftime("%d/%m/%y")].nil? || refeicoes_dias[@data.strftime("%d/%m/%y")].size <= 0%>
    <div class="error">Nenhuma refeição encontrada.</div>
    <%end%>
    <%end%>
  </div>
</div>
<div class="span-9 column last">
  <div class="">
    <div class="span-5">
      <div class="box text-center">
        <div>
          <span class="text-gg"><%=@data.strftime("%d")%></span>
          <span class="text-g">/<%=@data.strftime("%m")%></span>
          <span class="text-g">/<%=@data.strftime("%y")%></span>
        </div>
        <span class="text-p">Você ingeriou</span><br/>
        <span class="text-gg">
          <%unless (comps_refeicoes.nil? || comps_refeicoes.size <= 0)%>
          <%=number_with_precision(comps_refeicoes[208],:precision => 2,:strip_insignificant_zeros => true )%></span> kcal
          <%else%>
          0</span> kcal
          <%end%>
        </div>
      </div>
      <div class="clear">
        <span class="text-g">Grupos de Alimentos</span><br/><span class="small">Confira as porções ingeridas de cada grupo de alimentos</span>
        <br/><hr/>
        <%grupos = getGruposInfo(refeicoes_dias[@data.strftime("%d/%m/%y")],comps_refeicoes)%>
        <table>
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <%grupos.keys.each do |g|%>        
            <tr>
              <td><%=g.nome%></td>
              <td><%=number_with_precision(grupos[g],:precision => 2,:strip_insignificant_zeros => true )%></td>
            </tr>
            <%end%>            
          </tbody>
        </table>
      </div>
    </div>
    <div class="span-4 last">
    </div>
  </div>
  <div class="clear"></div>
  <div class="prepend-top">
    <%unless refeicoes_dias.nil? || refeicoes_dias.size <= 0%>
    <%keys = dias_array(refeicoes_dias.keys)%>
    <%keys.sort.each do |ks|%>
    <%k=ks.strftime("%d/%m/%y")%>
    <%if @data.strftime("%d/%m/%y") != k%>
    <div class="span-2 text-center boxItem padding-4">
      <%link_to :action=>"list",:data=>k do%>
      <span class="text-p"><%=k%></span><br/>
      <%=number_with_precision(componentes_refeicoes(refeicoes_dias[k])[208],:precision => 2,:strip_insignificant_zeros => true)%> kcal<br/>
      <span class="text-pp">Refeições: </span><%=refeicoes_dias[k].size%>
      <%end%>
    </div>
    <%end%>
    <%end%>
    <%end%>
  </div>
