<%= form_for(@alimento) do |f| %>
	<% if @alimento.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@alimento.errors.count, "error") %> prohibited this alimento from being saved:</h2>

		<ul>
			<% @alimento.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="column span-9">
		<p>
			<%= f.label :nome %><br />
			<%= f.text_field :nome %>
		</p>

		<p>
			<select name="tipoMedidas" id="selectTipoMedidas">
				<option>Escolha</option>
				<%= options_from_collection_for_select(getTipoMedidas, :id, :nome) %>
			</select> <button class="button pp" type="button" onclick="javascript:loadTipoMedidas(this)">Adicionar</button>
		</p>

		<div id="alimento_medidas">
			<% f.fields_for :alimento_medidas do |am|%>
				<%= render 'alimento_medida_form', :f => am unless am.object.medida.nil?%>
			<%end%>
		</div>
	</div>
	<div class="column span-9 last">
		<p>
			<%= f.label :porcao %><br />
			<%= f.text_field :porcao %>
		</p>
		<% f.fields_for :componente_alimentos do |ca|%>
		<%= render 'componente_alimento_form', :f => ca unless !ca.object.componente.ativo?%>
		<%end%>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>

