<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Aliments</title>
	<%= javascript_include_tag(:defaults) %>
	<%= javascript_include_tag("jquery.tipTip.minified") %>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'blueprint/screen' %>
	<%= stylesheet_link_tag 'main' %>

</head>
<body>
  <div class="">
			<%= render "shared/header" %>      
  </div>
  <%= render ("shared/menu")%>
	<div class="">
		<div class="container">
		  <div class="column span-19">
  			<%= yield %>
		  </div>
		  <div class="column span-5 last side">Lateral</div>
		</div>
	</div>
</body>
</html>

